h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700px;
    text-align: center;
}

#gameSpace {
    border-style: solid;
    border-width: 5px;
    border-color: rebeccapurple;
    height: 200px;
}

#a {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#b {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#c {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#d {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#e {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#f {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#g {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#h {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#i {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#j {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#k {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#l {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#m {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#n {
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
}

#o {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#p {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#q {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#r {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#s {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#t {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#u {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#v {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#w {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#x {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#y {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

#z {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

p {
    clear: both;
    text-align: center;
}